.sidebar {
  min-height: 100vh;
  flex: 1;
  border-right: 0.5px solid #e4e9e9;

  &__top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #e4e9e9;    
  }

  &__center {
    padding-left: 10px;
    list-style: none;   
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    column-gap: 8px;    
  }

  &__logo {
    font-size: 20px;
    font-weight: 700;
    color: #6439ff;
    text-transform: uppercase;
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;

    &-title {
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      color: #969494;
      margin: {
        top: 15px;
        bottom: 5px; 
      };
    }
    
    &-item {        
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ece8ff;
      }

      .icon {
        font-size: 18px;
        color: #7451f8;
      }

      .title {
        font-size: 13px;
        font-weight: 600;
        color: #868383;
      }
    }
  }

  .color-option { 
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;

    &:nth-of-type(1) {
      background: whitesmoke;
    }

    &:nth-of-type(2) {
      background: #333333;
    }

    &:nth-of-type(3) {
      background: #00008b;
    }
  }
}